@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo img{
    margin-right: 10px;
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.logo1 {
    width: 80px;
    max-width: 100%;
    height: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 20px; /* Changed font-weight to font-size */
}

.btn-lgn{
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    font-weight: 400;
}

.donlod-lgn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    background-image: linear-gradient(45deg, #df4811, #cf4567);
    border-radius: 30px;
    border-top-right-radius: 0;
    color: #fff;
}

.tombol{
    text-decoration: none;
    background-image: linear-gradient(45deg, #df4811, #cf4567);
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 40px;
    display: inline-block;
    box-shadow: 1px 2px 2px 3px rgba(28, 25, 25, 0.5);
    font-weight: 600;
    color: #fff;
    transition: 1s;
    border-top-right-radius: 0;
}

.isi{
    margin-top: 5%;
    max-width: 600px;
}
.isi h1{
    font-size: 60px;
    color: #222;
}
.isi p{
    margin: 10px 0 30px;
}

.isi .tombol{
    padding: 15px 80px;
    font-size: 16px;
}

.tombol:hover{
    border-top-right-radius: 30px;
}

.sayang{
    width: 100%; 
    max-width: 530px; 
    position: absolute;
    bottom: 0;
    right: 0.1%;
    animation-delay: 1s;
    display: flex;
    flex-direction: column;
}

.sayang img{
    max-width: 100%;
    height: auto;
}

.animasi{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    z-index: 99;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .sayang {
        position: static; 
        order: 2; 
        margin-top: 20px; 
    }

    .isi {
        order: 1; 
    }

    .logo1 {
        width: 60px; 
    }

    .isi h1{
        font-size: 40px; 
    }

    .isi .tombol{
        padding: 12px 60px; 
        font-size: 14px;
    }

    nav ul li a {
        font-size: 16px; 
    }

    .sayang {
        max-width: 100%; 
    }
}
